.container {
    padding: 40px 80px;
}

.certificate-input {
    width: 75%;
    margin-top: 10px !important;
    background-color: white;
    border-radius: 5px;
}
.create-text{
    color: #CDCDCD;
    font-size: 16px ;
    font-weight: 500;
}
.certificate-input:hover{
    border: 0 !important;
}
.radio-btn .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #ffffff;
}
.radio-btn .css-hyxlzm {
    color: #ffff;
}
.lebel-icon {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.lebel-icon .css-i4bv87-MuiSvgIcon-root {
    margin-right: 10px;
}

.contact-message {
    width: 75%;
    background-color: #ffff;
    margin-top: 10px !important;
    border-radius: 5px;
}
#heading-text{
    display: flex;
    align-items: center;
    line-height: 0;
}
<<<<<<< HEAD

.InfiniteCarouselDots {
    display: none;
}

=======
.InfiniteCarouselArrowIcon {
	display: inline-block;
	padding: 10px;
	border: solid #fff ;
	border-width: 0 5px 5px 0;
}
>>>>>>> d124147277f2ae35e7b3a529ba2dcfc646e63b15
/* Button wrapper */

.btn-wrapper {
    width: 75%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn {
    display: flex;
    width: 100%;
    border: 2px solid #bcbcbc;
    margin-top: 10px;
    color: #CDCDCD;
    background-color: #ffffff;
    padding: 14px 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.up-icon{
    color: #FF2646;
    margin-right: 15px;
}
 .btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }