@media only screen and (max-width: 420px) {
    .section-img{
        display: none;
    }
    .container{
        margin: 0;
        padding: 20px 30px;
        text-align: center;
    }
    #heading-text{
        background-color: aqua;
    }
    #preview-img{
        width: 300px;
    }
    .banner-cloud {
        position: relative;
        left: 0%;
        width: 100%;
        margin-bottom:0;
        top: 0px;
    }
    .banner-text {
        position: relative;
        width: 100%;
        left: 0;
    }
    .banner-icon {
        margin-left: 15px;
        font-size: 20px;
    }
  }